@import "tailwindcss";

body {
    background-color: #121212;
}

.bg-grid {
    background-image: linear-gradient(#fff 1px, transparent 1px), linear-gradient(90deg, #fff 1px, transparent 1px);
    background-size: 40px 40px;
}
